<script lang="ts">
import type { ExampleConfigRemote } from '../types';
import { defineComponent } from 'vue';

const keys: (keyof ExampleConfigRemote)[] = ['remoteAuthority', 'hostPath', 'connectionToken'];

export default defineComponent({
  props: keys,
  emits: {
    update(key: keyof ExampleConfigRemote, value: string) {
      return Boolean(key);
    },
  },
  setup(props, { emit }) {
    // methods
    const updateKey = (key: keyof ExampleConfigRemote, event: Event) => {
      const el = event.target as HTMLInputElement;

      emit('update', key, el.value);
    };

    return {
      updateKey,
    };
  },
});
</script>

<template>
  <div>
    <label class="block mt-3">
      <span>Remote Authority</span>
      <input
        name="remote_authority"
        class="gl-input"
        type="text"
        placeholder="hostname and port of your server (e.g. example.com:8000)"
        :value="remoteAuthority"
        @input="updateKey('remoteAuthority', $event)"
      />
    </label>
    <label class="block mt-3">
      <span>Host Path</span>
      <input
        name="host_path"
        class="gl-input"
        type="text"
        placeholder="Path to the workspace on the host machine (e.g. /root/workspace)"
        :value="hostPath"
        @input="updateKey('hostPath', $event)"
      />
    </label>
    <label class="block mt-3">
      <span>Connection Token</span>
      <input
        name="connection_token"
        class="gl-input"
        type="password"
        :value="connectionToken"
        @input="updateKey('connectionToken', $event)"
      />
    </label>
  </div>
</template>
